# Ignore .terraform directory
.terraform/

# Ignore environment files and directories
*.env
# Ignore .tfvars files
*.tfvars

# Ignore specific Terraform-related files
terraform.*
terraform.tfstate
terraform.tfstate.backup

